<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <ul>
      <% robots.forEach(function(robot){ %>
        <li><%= robot._id %> - <%= robot.name %> - <%= robot.description %></li>
      <% }); %>
    </ul>

  </body>
</html>